# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtualenv
venv/
.env

# Alembic cache
alembic/versions/__pycache__/

# IDEs
.vscode/
.idea/


# Firebase credentials
secrets/
secrets/firebase_credentials.json
*.json
!*.example.json  # Permite arquivos de exemplo
